<!DOCTYPE html>
<html ng-app="app">

<head>
    <title>Directives</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
        crossorigin="anonymous">
</head>

<body ng-controller="LabController as vm">
    <div class="container">
        <h1>Authors</h1>
        <table class='table'>
            <thead>
                <th>name</th>
                <th>nationality</th>
                <th>dates</th>
            </thead>
            <tbody>
                <tr author-table ng-repeat='author in vm.authors' author='author'></tr>
            </tbody>
        </table>
        <table class='table'>
            <thead>
                <th>name</th>
                <th>nationality</th>
                <th>dates</th>
            </thead>
            <tbody>
                <author-table ng-repeat='author in vm.authors' author='author'></author-table>
            </tbody>
        </table>
        <ul>
            <author-list ng-repeat='author in vm.authors' author='author'></author-list>
        </ul>
        <isolated-scope-directive author='vm.authors[0].name'></isolated-scope-directive>
    </div>



    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="./app/app.js"></script>
    <script src="./app/LabController.js"></script>
    <script src="./app/authorTableDirective.js"></script>
    <script src="./app/authorListDirective.js"></script>
    <script src="./app/isolatedScopeDirective.js"></script>
</body>

</html>